<div class="modal-dialog">
    {{ form_start(form) }}
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-white" id="viewReviewLabel">Add Category</h5>
                <button type="button" class="btn btn-sm btn-light mb-0" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                {{ form_row(form.name) }}

                {{ form_row(form.image) }}
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-soft my-0" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success-soft my-0">Edit Category</button>
            </div>
        </div>
    {{ form_end(form) }}
</div>