{% extends 'admin/base.html.twig' %}

{% block pageTitle %}Catégories{% endblock %}

{% block mainContent %}

    <div class="row">
        <div class="col-md-6">
            {{ include('admin/categorie/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
