{% extends 'base.html.twig' %}

{% block title %} | Cours{% endblock %}

{% block pageTitle %}Cours{% endblock %}

{% block cardTitle %}Edition{% endblock %}

{% block cardFooter %}
    <a class="btn btn-app" href="{{ path('app_cours_index') }}">
        <i class="fas fa-plus"></i> Liste
    </a>
    {{ include('includes/_delete_form.html.twig', {path: path('app_cours_delete', {'id': cour.id}), token: csrf_token('delete' ~ cour.id), classes: 'btn-danger'}) }}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-9">
            {{ include('cours/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
        </div>
    </div>

{% endblock %}
