{% extends 'admin/base.html.twig' %}

{% block title %} | Cours{% endblock %}

{% block pageTitle %}Cours{% endblock %}

{% block cardTitle %}Ajouter{% endblock %}

{% block cardFooter %}
    <a class="btn btn-app" href="{{ path('app_cours_index') }}">
        <i class="fas fa-plus"></i> Ajouter
    </a>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-9">
            {{ include('admin/cours/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
