{% extends 'admin/formation/index.html.twig' %}

{% block actionBtn %}
	<a href="{{ path('app_admin_formation_index') }}" class="btn btn-sm btn-primary mb-0">Retour</a>
{% endblock %}

{% block mainContent %}

{{ include('admin/formation/_form.html.twig') }}

{% endblock %}
