{% extends 'base.html.twig' %}

{% block title %} | Filières {% endblock %}

{% block pageTitle %}Filières{% endblock %}

{% block cardTitle %}Nouveau{% endblock %}

{% block cardFooter %}
    <a class="btn btn-app" href="{{ path('app_filiere_index') }}" >
        <i class="fas fa-arrow-left"></i> Liste
    </a>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            {{ include('filiere/_form.html.twig') }}
        </div>
    </div>

{% endblock %}
