<form method="post" class="{{ form_class|default('') }}" action="{{ path('app_instructor_lesson_delete', {'slugLesson': lesson.slug, 'slug': chapitre.slug}) }}" onsubmit="return confirm('Vous êtes sure de vouloir supprimer définitivement cette leçon?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lesson.id) }}">
    <button class="btn btn-sm btn-danger-soft btn-round me-1 mb-0"><i class="fas fa-trash"></i></button>
</form>
