{% extends "front/base.html.twig" %}

{% block title %} - Chat{% endblock %}

{% block mainContent %}
    {% if not app.user.eleve.classe %}
        {% include 'front/chat/_setup_modal.html.twig' with {
            'classes': classes,
            'specialites': specialites,
            'eleve': app.user.eleve
        } %}
        <div class="chat-wrapper">
            <div class="container-fluid chat-container">
                <div class="text-center mt-5">
                    <h3>{% trans %}WELCOME_TO_CHAT_KEY{% endtrans %}</h3>
                    <p>{% trans %}PLEASE_SETUP_PROFILE_KEY{% endtrans %}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="chat-wrapper">
            <div class="container-fluid chat-container">
                <!-- Groups column -->
                <div class="col-md-4 chat-sidebar">
                    <div class="chat-sidebar-header">
                        <h5>{% trans %}DISCUSSIONS_KEY{% endtrans %}</h5>
                        <input type="text" class="form-control search-bar" placeholder="{% trans %}SEARCH_KEY{% endtrans %}">
                    </div>
                    <div id="group-list" class="chat-group-list">
                        {% if groups is empty %}
                            <p class="text-center mt-3">{% trans %}NO_GROUPS_YET_KEY{% endtrans %}</p>
                        {% endif %}
                    </div>
                </div>

                <!-- Main chat column -->
                <div class="col-md-8 chat-main">
                    <div class="chat-main-header">
                        <h5 class="chat-title" id="chat-title" data-group-id="">{% trans %}SELECT_GROUP_TO_CHAT_KEY{% endtrans %}</h5>
                    </div>
                    <div class="chat-messages">
                        <p class="welcome-message">{% trans %}WELCOME_MESSAGE_KEY{% endtrans %}</p>
                    </div>
                    <div id="chat-input-area" class="chat-input-area d-none">
                        <input type="text" id="chat-message" class="form-control chat-input" placeholder="{% trans %}WRITE_MESSAGE_KEY{% endtrans %}" disabled>
                        <button id="send-message" class="btn btn-primary chat-send" disabled>
                            <i class="fa fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block stylesheet %}
        {{ parent() }}
        <link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/chat.js') }}"></script>
    {% endblock %}
{% endblock %}
