<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier demandé n'existe pas, rediriger vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Increase upload limits
php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value max_execution_time 300
php_value max_input_time 300

# Allow JFIF files
AddType image/jpeg .jfif .jpe .jpeg .jpg
