<!DOCTYPE html>

<title>Edit NotificationTemplate</title>

{% block body %}
    <h1>Edit NotificationTemplate</h1>

    {{ include('admin/notification_template/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_notification_template_index') }}">back to list</a>

    {{ include('admin/notification_template/_delete_form.html.twig') }}
{% endblock %}
