{% extends 'admin/base.html.twig' %}

{% block pageTitle %}Terms and | New{% endblock %}

{% block actionBtn %}

{% endblock %}

{% block script %}

{% endblock %}

{% block mainContent %}
<div class="card bg-transparent border">
    <!-- Card body START -->
    <div class="card-body">
        {{ include('admin/term/_form.html.twig') }}
    </div>
{% endblock %}
