{% extends 'instructor/base.html.twig' %}

{% block pageTitle %}Evaluations <small>> {{ evaluation.titre }} > Ajouter une question</small>{% endblock %}

{% block actionBtn %}
	<a class="btn btn-primary-soft btn-sms mb-0" href="{{ path('app_admin_evaluation_question_index', {'slug': evaluation.slug}) }}">Retour</a>
    
    {{ include('instructor/evaluation_question/_delete_form.html.twig') }}
{% endblock %}

{% block script %}
    
{% endblock %}

{% block pageContent %}

    {{ include('instructor/evaluation_question/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
{% endblock %}
