<form method="post" style="display: inline;" action="{{ path('app_admin_type_enseignement_delete', {'id': type_enseignement.id}) }}" onsubmit="return confirm('Vous êtes sûre de vouloir poursuivre cette opération ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_enseignement.id) }}">
    <button class="btn btn-danger-soft btn-sm">Delete</button>
</form>
